* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
body {
    /* background-color: lightsalmon; */
    background-image: url("resources/nasa-space-pictures-hd-hd-widescreen-11.jpg");
}
.titleLineThrough, .completedLineThrough, .done {
    text-decoration: line-through;
}
button {
    margin: 5px auto;
    padding: 5px 10px;
    display: block;
    background-color: rgb(206, 50, 3);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
div > button, form > button {
    background-color: rgba(30, 143, 255, 0.75);
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-weight: normal; 
    /* font-weight: lighter;  */
}
input {
    padding: 3px;
    width: 90%;
    /* display: block; */
    /* flex-wrap: wrap; */
}
input[type=checkbox] {
    padding: 3px;
    width: 10%;
    /* display: block; */
    /* flex-wrap: wrap; */
}
p > input, div > input {
    display: inline-block;
    min-width: 50px;
}
/* p > input {
    display: inline-block;
    min-width: 50px;
} */
h1 {
    font-size: 2em;
    text-align: center;
    color: lightblue;
}
h3 {
    font-size: 1.5em;
}
img {
    width: 100%;
    padding: 5%;
}
#todo-edit {
    /* border: 1px solid black; */
    /* padding: 10px; */
    margin: auto;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
#todo-list {
    /* border: 1px solid black; */
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.todoContainer {
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
    margin: 10px ;
    padding: 10px;
    background-color: lightblue;
    width: 45vw;
    min-width: 300px;
    max-width: 500px;
    display: inline-block;
}
.formContainer {
    background-color: lightblue;
    border-radius: 7px;
    border: 1px solid black;
    margin: auto;
    padding: 10px 30px;
    max-width: 250px;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
}