.box {
    margin: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    transition: background-color 500ms linear, width 500ms linear;
}

.blackBoxes {
    background-color: black;
}

.whiteBoxes {
    background-color: white;
}

.purpleBoxes {
    background-color: purple;
}

.stretchTheBox {
    background-color: dodgerblue;
    width: 400px;
}
