.todo {
    border: 1px solid black;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 5px;
    overflow-x: scroll;
}

.todo > h1 {
    font-family: sans-serif;
    font-weight: lighter;
}

.todo > p {
    
}