* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: crimson;
    color: white;
    font-size: 1.2em;
}
h1 {
    margin: 10px;
}
div > h1 {
    width: 50px;
    height: 50px;
    padding: 6px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}
.die {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-size: 100%;
}
.die1 {
    background-image: url("https://dumielauxepices.net/sites/default/files/dice-clipart-single-502631-8934238.gif");
}
.die2 {
    background-image: url("https://dumielauxepices.net/sites/default/files/dice-clipart-single-502631-8031082.gif");
}
.die3 {
    background-image: url("https://dumielauxepices.net/sites/default/files/dice-clipart-single-502631-1664244.gif");
}
.die4 {
    background-image: url("https://cdn.clipart.email/1cee826afbbf9c6ff82faf17147ffe9b_dice-clipart-_900-901.gif");
}
.die5 {
    background-image: url("https://dumielauxepices.net/sites/default/files/dice-clipart-five-502664-7383276.gif");
}
.die6 {
    background-image: url("https://dumielauxepices.net/sites/default/files/dice-clipart-single-502631-6337109.gif");
}