* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
button {
    margin: 35px;
    padding: 3px 8px;
    border-radius: 3px;
}
.black-button, .black-main {
    background-color: black;
    color: black;
}
.white-button, .white-main {
    background-color: white;
    color: lavender;
}
.dark-button {
    background-color: purple;
    color: lavender;
}
.light-button {
    background-color: rgb(255, 165, 255);
    color: purple;
    border: 1px solid purple;
}
.header, .footer {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}
.black-header, .black-header > a {
    background-color: darkgrey;
    color: lightgrey;
}
.white-header, .white-header > a {
    background-color: lightgrey;
    color: darkgrey;
}
.dark-header, .dark-header > a {
    background-color: crimson;
    color: lightpink;
}
.light-header, .light-header > a {
    background-color: lightpink;
    color: crimson;
}
.dark-footer, .dark-footer > a {
    background-color: darkgreen;
    color: lightgreen;
}
.light-footer, .light-footer > a {
    background-color: lightgreen;
    color: darkgreen;
}
.main {
    text-align: center;
    height: 200px;
    padding: 50px 0;
}
.dark-main {
    background-color: darkblue;
    color: lightblue;
}
.light-main {
    background-color: lightblue;
    color: darkblue;
}